#contenedor1{
  display: flex;
  background-color: #000;  
  height: 300px;
  color:white;
  font-size:2rem;
}

#item1 {  
  flex-basis: 20%;
  background-color: #05ce37;
}
#item2 {
  flex-basis: 60%;  
  background-color: #0ee243;
}
#item3 {
  flex-basis: 20%;  
  background-color: #3dfa2b;
}