#contenedor1{
  display: flex;
  flex-wrap: wrap;
  background-color: #f84af8;  
  height: 300px;
  color:white;
  font-size:2rem;
}

.item {
  background-color: #b704bd;
  width:150px;
  height:150px;
}