<<<<<<< HEAD
p {
  background-color:#ffffaa;
  margin:0px;
  border-width:1px;
  border-style:solid;
  border-color:#c053c0;
=======
p {
  background-color:#ffffaa;
  margin:0px;
  border-width:1px;
  border-style:solid;
  border-color:#c053c0;
>>>>>>> b4111f82dacf75823bf5d992ee48bb0980d7b34c
}