#contenedor1{
  display: flex;
  background-color: #000;  
  height: 300px;
  color:white;
  font-size:2rem;
}

#item1 {  
  background-color: #70b8fc;
}
#item2 {
  flex-shrink: 0;
  background-color: #0084B6;
}
#item3 {
  background-color: #005574;
}