<<<<<<< HEAD
#cabecera{
    background-color: #bbbbbb;
    color: #0000ff;
    text-align: center;
    font-family: Times New Roman;
    font-size: 30px;
=======
#cabecera{
    background-color: #bbbbbb;
    color: #0000ff;
    text-align: center;
    font-family: Times New Roman;
    font-size: 30px;
>>>>>>> b4111f82dacf75823bf5d992ee48bb0980d7b34c
}