#contenedor1{
  display: flex;
  flex-direction: column;
  background-color: #000;  
  height: 300px;
  color:white;
  font-size:2rem;
}

#item1 {
  background-color: #fdbcea;
}
#item2 {
  background-color: #ff4fe2;
}
#item3 {
  background-color: #ff00d4;
}