<<<<<<< HEAD
body{
    background-color: #eeeeee;
}

.importante{
    color: #080808;
    background-color: #ffff00;
    font-style: italic;
}
=======
body{
    background-color: #eeeeee;
}

.importante{
    color: #080808;
    background-color: #ffff00;
    font-style: italic;
}
>>>>>>> b4111f82dacf75823bf5d992ee48bb0980d7b34c
