<<<<<<< HEAD
.comentarios {
  background-color:#4477c4;
  padding:5px 30px;
}
=======
.comentarios {
  background-color:#4477c4;
  padding:5px 30px;
}
>>>>>>> b4111f82dacf75823bf5d992ee48bb0980d7b34c
