#contenedor1{
  display: flex;  
  justify-content: space-between;
  background-color: #000;  
  height: 300px;
  color:white;
  font-size:2rem;
}

#item1 {
  background-color: #eb4fff;
}
#item2 {
  background-color: #fd5dcd;
}
#item3 {
  background-color: #31f3d9;
}
