#contenedor1{
  display: flex;
  background-color: #000;  
  height: 300px;
  color:white;
  font-size:2rem;
}

#item1 {  
  background-color: #0b1fd8;
}
#item2 {
  flex-grow: 1;
  background-color: #d819bf;
}
#item3 {
  background-color: #59069c;
}