#contenedor1{
  display: flex;
  background-color: #000;  
  height: 300px;
  color:white;
  font-size:2rem;
}

#item1 {  
  order: 2;
  background-color: #a61900;
}
#item2 {
  order: 1;
  background-color: #b61500;
}
#item3 {
  order: 0;
  background-color: #c11d00;
}
